@use "@/styles/colors" as *;
@use "@/styles/spacing" as *;
@use "@/styles/typography" as *;
@use "@/styles/media-mixins" as *;

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-12;

  @include mobile {
    grid-template-columns: 1fr;
  }
}
