@use "@/styles/colors" as *;
@use "@/styles/spacing" as *;
@use "@/styles/typography" as *;
@use "@/styles/common-mixins" as *;
@use "@/styles/media-mixins" as *;

.emptyText {
  color: $color-text-secondary;
  font-size: $font-size-sm;
}

.error {
  color: $color-error;
  font-size: $font-size-sm;
  margin-top: $spacing-8;
}
